@import '../../scss/variable.scss';

.container {
  width: 70%;
  height: 70%;
  border: 3px solid $color-gray-1;

  &__tabs {
    height: 15%;
  }

  &__display {
    @include flex-center;
    height: 85%;
  }
}

