@import '../../scss/variable.scss';

.container {
  width: 70%;
  height: 70%;
  border: 3px solid $color-gray-1;
  border-radius: 20px;
  overflow: hidden;

}

.tabs {
  height: 15%;
}

.content {
  @include flex-center;
  height: 85%;
}

.dark {
border: 3px solid $color-black-1;
}