$color-gray-0:#ddd;
$color-gray-1:#aaa;

$color-white-0:#fff;

$color-black-0:#000;

// ---------------------

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}