$color-gray-0:#ddd;
$color-gray-1:#aaa;

$color-white-0:#fff;

$color-black-0:#000;
$color-black-1:rgb(24, 24, 24); // 다크모드 border
$color-black-2:#444; // 다크모드 background



// ---------------------

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}