@import '../../scss/variable.scss';

.slider {
  width: 70%;
  &__result-box {
    height: 2rem;
    margin-bottom: 2rem;
    border: 3px solid $color-gray-1;
    border-radius: 20px;
    @include flex-center;
  }

  &__input {
    width: 100%;
    margin-bottom: 1rem;
    accent-color:$color-black-0;
    cursor: pointer;
  }

  &__target {
    @include flex-between;

    &__item {
      width: 35px;
      text-align: center;
      cursor: pointer;
      font-size: .8rem;
      background-color: $color-gray-0;
      padding:5px;
      border-radius: 50px;
      transition: all .1s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}